<!DOCTYPE html >
<html layout:decorator="shared/base"
>
<div class="content" layout:fragment="content">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Current Booking
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Car Id</th>
                        <th>Customer</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Start</th>
                        <th>End</th>

                        <th>Car Id</th>
                        <th>Customer</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="booking : ${reservations}">
                        <td th:text="${booking.id}"></td>
                        <td th:text="${booking.start}"></td>
                        <td th:text="${booking.end}"></td>

                        <td th:text="${booking.car.getName()}"></td>
                        <td th:text="${booking.customer.getFullname()}"></td>
                        <td>

                            <a onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" th:href="@{'/payment/' + ${booking.id}}">Show
                                Payment</a>&nbsp;
                        </td>

                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>

</div>
